rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        // Правила для коллекции "users"
        match /users/{userId} {
            allow create: if request.auth != null
                && request.auth.uid == userId;
            allow read, update: if request.auth != null
                && request.auth.uid == userId;
            allow delete: if false;
        }

        // Правила для коллекции "orders"
        match /orders/{orderId} {
            allow create: if
                    (request.auth != null
                        && request.auth.uid == request.resource.data.userId)
                    ||
                        (request.auth == null);

            allow read: if true;

            // Разрешить обновление заказов ВСЕМ (аутентифицированным и нет)
            allow update: if true;

            allow delete: if true;
        }

        // Правила для коллекции "products"
        match /products/{productId} {
            // Список и получение — открыто всем
            allow list, get: if true;
            // Разрешить создание, обновление и удаление товаров ВСЕМ
            allow create, update, delete: if true;
        }

        // Правило по умолчанию: Запретить чтение и запись для всех прочих документов
        match /{document=**} {
            allow read, write: if false;
        }
    }
}